<app-navbar2></app-navbar2>
<div class="main-content">
<div class="category-filter">
  <button mat-button (click)="filterInstrumentsByCategory('STOCK')">STOCK</button>
  <button mat-button (click)="filterInstrumentsByCategory('CD')">CD</button>
  <button mat-button (click)="filterInstrumentsByCategory('GOVT')">GOVT</button>
  <button mat-button (click)="filterInstrumentsByCategory('')">Clear Filter</button>
</div>
<div class="search-container">
  <mat-form-field>
    <input matInput (keyup)="onSearch()" placeholder="Search Instruments" [(ngModel)]="searchTerm">
  </mat-form-field>
</div>

<div class="card-container">
  <mat-card *ngFor="let instrument of displayedInstruments">
    <mat-card-title>{{ instrument.instrumentDescription }}</mat-card-title>
    <mat-card-content>
      <p><strong>Instrument ID:</strong> {{ instrument.instrument.instrumentId }}</p>
      <p><strong>Instrument Name:</strong> {{ instrument.instrument.instrumentDescription }}</p>
      <p><strong>Bid Price:</strong> {{ instrument.bidPrice | currency}}</p>
      <p><strong>Category:</strong> {{ instrument.instrument.categoryId }}</p>
      <p><strong>Min Quantity:</strong> {{ instrument.instrument.minQuantity }}</p>
      <p><strong>Max Quantity:</strong> {{ instrument.instrument.maxQuantity }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openBuyDialog(instrument)" class="buy-button">Buy</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- See More Container -->
<div class="centered-see-more">
  <button mat-raised-button class="see-more-button" *ngIf="displayedInstruments.length < instruments.length" (click)="loadMore()">
    See More
  </button>
</div>


<!-- Buy Dialog -->
<div *ngIf="isBuyDialogOpen" class="buy-dialog">
  <div class="buy-dialog-content">
    <h2>Buy Instrument</h2>
    <p><strong>Description:</strong> {{ selectedInstrument.instrument.instrumentDescription }}</p>
    <p><strong>Bid Price:</strong> {{ selectedInstrument.bidPrice | currency}} </p>
    <mat-form-field>
      <input matInput type="number" placeholder="Quantity" [(ngModel)]="quantity" [max]="selectedInstrument.maxQuantity">
    </mat-form-field>
    <button mat-raised-button (click)="buyInstrument()" class="buy-button">Buy</button>
    <button mat-raised-button (click)="closeBuyDialog()"  class="cancel-button">Cancel</button>
  </div>
</div>
</div>
<app-footer></app-footer>