<div class="main-content">
<app-navbar></app-navbar>
<section class="hero">
    <div class="hero-content">
      <h2>Your Partner in Smart Investments</h2>
      <p>Unlock financial freedom with our expert investment strategies.</p>
      <button [routerLink]="'/signup'" class="cta-button">Get Started</button>
    </div>
  </section>
  
  <section class="features">
    <div class="feature">
      <img src="../../../assets/feature1.png" alt="Feature 1">
      <h3>Expert Advice</h3>
      <p>Our team of experienced investors provides personalized advice for your financial goals.</p>
    </div>
    <div class="feature">
      <img src="../../../assets/feature2.png" alt="Feature 2">
      <h3>Diverse Portfolios</h3>
      <p>Choose from a wide range of investment portfolios tailored to your risk tolerance and preferences.</p>
    </div>
    <div class="feature">
      <img src="../../../assets/feature3.png" alt="Feature 3">
      <h3>Easy Management</h3>
      <p>Manage your investments effortlessly with our user-friendly online platform.</p>
    </div>
  </section>
</div>
<app-footer></app-footer>
